@charset 'UTF-8';

@media screen and (min-width:769px) {
    


body{

    background: #282828;
    font: normal 16pt Arial;
    color: white;
    
}

h1{
    text-align: center;
    color: rgb(250, 253, 253);
    padding-top: 15px;
    margin-bottom: -5px;

}

h1 > span{

    color: rgba(8, 223, 223, 0.963) ;
}

section{
    display: block;
    background-color: #504f4f8c;
    margin: 5% auto;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.375);
    max-width:600px;
    height: 500px;
   
    border-radius: 15px;
   
        
}

div#campo{

    padding: 15px;
    margin-left: 30px;
    
    
}

div#ptbaixo{

    border-top: 1px solid white;
    background: rgba(39, 40, 41, 0.781);
    height: 120px;
    border-radius: 0px 0px 15px 15px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
    align-items: center;
    padding: 10px;
    
    
    
}





input {
    display: inline-block;
    border-radius: 5px;
    width: 500px;
    margin: auto;
    margin-top: 20px;   
    background-color: rgb(50, 48, 48);
    border: 1px solid white;
    color: white;
    padding: 5px;
    font-size: 14pt;


    
}

input#enter{
    display: block;
    background-color: rgba(7, 197, 197, 0.84);
    width: 300px;
    margin:auto;
    margin-top: 80px;
   
    
}

input#enter[type="button"]:hover{

   animation-name: pulsante;
   animation-duration: 0.3s;
   animation-timing-function: ease-in-out;
   animation-iteration-count: infinite;
   animation-direction: alternate;

   background-color: white;
   color: aqua;
   transition: 0.2s ease-in-out;
}



@keyframes pulsante {
    0%{
        transform: scale(1);
    }

    100%{

        transform: scale(1.05);
    }
}



a{
    display: inline-block;
    padding: 10px;
    color: white;
    border-radius: 5px;
    background: rgb(14, 15, 15);
    text-decoration: none;
    position: relative;
    z-index: 0;
    overflow: hidden;
   

}

a::after{

    content: '';
    background-color:white;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0px;
    z-index: -1;
    transition: 0.2s ease-out;

}

a:hover::after{

    width: 100%;
}
a:hover{
    color: black;
}
}